{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
	<link rel="stylesheet" href="{% static 'studentapp/style.css' %}">

</head>
<body>

<h1>Welcome to Student Registration</h1>

<a href="{% url 'add_student' %}">Register Student</a><br>
<a href="{% url 'eligible_students' %}">View Eligible Students</a><br><br>

<h2>Students List</h2>

<table border="1">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Dept</th>
    <th>Marks</th>
    <th>Grade</th>
    <th>Actions</th>
</tr>
<h4>SEARCH BY NAME OR DEPARTMENT</h4>
<form method="GET">

    <!-- Text Search -->
    <input type="text" name="search" placeholder="Search name/department" value="{{ request.GET.search }}">

    <!-- Department Filter -->
    <select name="dept">
        <option value="">All Departments</option>
        <option value="CSE">CSE</option>
        <option value="ECE">ECE</option>
        <option value="EEE">EEE</option>
        <option value="MECH">MECH</option>
    </select>

    <!-- Grade Filter -->
    <select name="grade">
        <option value="">All Grades</option>
        <option value="A+">A+</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
    </select>

    <!-- Marks Range -->
    Min Marks: <input type="number" name="min_marks" style="width:80px;">
    Max Marks: <input type="number" name="max_marks" style="width:80px;">

    <!-- Sorting -->
    Sort By:
    <select name="sort">
        <option value="name">Name</option>
        <option value="dept">Department</option>
        <option value="marks">Marks</option>
        <option value="grade">Grade</option>
    </select>

    <button type="submit">Apply</button>
</form>


<br><br>
{% for student in students %}
<tr>
    <td>{{ student.student_id }}</td>
    <td>{{ student.name }}</td>
    <td>{{ student.dept }}</td>
    <td>{{ student.marks }}</td>
    <td>{{ student.grade }}</td>
    <td>
        <a href="{% url 'edit_student' student.id %}">Edit</a> |
        <a href="{% url 'delete_student' student.id %}" onclick="return confirm('Delete this student?');">Delete</a>
		<a href="{% url 'student_profile' student.id %}">{{ student.name }}</a>

    </td>
</tr>
{% endfor %}
</table>
</body>
</html>
